/* pour visualisation des boîtes bootstrap*/
.row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

body {
	font-family: Garamond, serif;
	font-size:25px;
	line-height: 1.8;
	color: #2f2f2f;
	text-align: center;
}
h1 { color: #ffffff; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1;
text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;}
h2{color:black ; font-weight:bold}
p{font-size:25px}

/* Navbar */
.navbar {
	background-color: #2f2f2f; /* Black Gray */
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	letter-spacing: 5px;
	font-size:25px;
}
.navbar-brand {	font-size:25px;}
.navbar-nav  li a:hover {
	color: #ffffff !important;
}

/* containeur */
.sections-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Form et button */
.form-control{
	width:auto;
	height:auto;
	margin:auto;
	font-size:20px
}
.btn{
	width:auto;
	margin:auto;
	font-size:20px}


/* bg */
.bg-1 {
	padding-top: 300px;
	padding-bottom: 300px;
	background-image:url(../images/fond.jpg);
	color: #ffffff;
}

.bg-2 {
	background-image:url(../images/entree_ap.jpg);
	margin-bottom: 30px;
}
.bg-3 {
	background-image:url(../images/plat_ap.jpg);
	margin-bottom: 30px;
}
.bg-4 {
	background-image:url(../images/dessert_ap.jpg);
	margin-bottom: 30px;
}
.bg-5 {
	background-image:url(../images/fond_cahier.jpg);
	margin-bottom: 20px;
}
.bg-footer {
	background-color: #2f2f2f; /* Black Gray */
	color : #ffffff;
}
